@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Home Page";
}


<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Iniciar Sesion</h3>

        <label for="username">Usuario</label>
        <input type="text" placeholder="Correo o Telefono" id="username">

        <label for="password">Contraseña</label>
        <input type="password" placeholder="Contraseña" id="password">

        <button>Iniciar Sesion</button>
        <div class="social">
            <div class="go"><i class="fab fa-google"></i>  Google</div>
            <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</body>